.heading {
	@apply mb-3;
}

.movieFlex {
	@apply flex flex-wrap mt-8;
}

.wrapper {
	display: flex;
	height: 80%;
	flex-direction: column;
	justify-content: space-between;
}

.moviesGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	margin-top: 20px;
	gap: 25px;
	a {
		@apply mr-8 animate-fade;
	}
	a:nth-child(3n) {
		@apply mr-0;
	}
}


.btn {
	display: block;
	margin: 30px auto;
	width: 200px;
}
